<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
            <filter-name>UrlRewriteFilter</filter-name>
            <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
            <init-param>
                <param-name>logLevel</param-name>
                <param-value>WARN</param-value>
            </init-param>
        </filter>
        <filter-mapping>
            <filter-name>UrlRewriteFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>
  <servlet>
    <servlet-name>ServletConfigurator</servlet-name>
    <servlet-class>
         org.logicalcobwebs.proxool.configuration.ServletConfigurator
    </servlet-class>
    <init-param>
         <param-name>xmlFile</param-name>
    <param-value>WEB-INF/proxool.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>
  <servlet>
    <servlet-name>RecruitServlet</servlet-name>
    <servlet-class>servlet.RecruitServlet</servlet-class>
  </servlet>
<servlet-mapping>
    <servlet-name>RecruitServlet</servlet-name>
    <url-pattern>/recruitServlet</url-pattern>
  </servlet-mapping>
  <servlet>     
        <servlet-name>UserServlet</servlet-name>    
        <servlet-class>servlet.UserServlet</servlet-class>    
  </servlet>    
 <servlet-mapping>    
        <servlet-name>UserServlet</servlet-name>    
        <url-pattern>/userServlet</url-pattern>    
 </servlet-mapping> 
  <servlet>     
        <servlet-name>CheckInServlet</servlet-name>    
        <servlet-class>servlet.CheckInServlet</servlet-class>    
  </servlet>    
 <servlet-mapping>    
        <servlet-name>CheckInServlet</servlet-name>    
        <url-pattern>/checkInServlet</url-pattern>    
 </servlet-mapping> 
  <servlet>     
        <servlet-name>SMSServlet</servlet-name>    
        <servlet-class>servlet.SMSServlet</servlet-class>    
  </servlet>    
 <servlet-mapping>    
        <servlet-name>SMSServlet</servlet-name>    
        <url-pattern>/SMSServlet</url-pattern>    
 </servlet-mapping>
 <servlet>     
        <servlet-name>GetSMS</servlet-name>    
        <servlet-class>servlet.GetSMS</servlet-class>    
  </servlet>    
 <servlet-mapping>    
        <servlet-name>GetSMS</servlet-name>    
        <url-pattern>/GetSMS</url-pattern>    
 </servlet-mapping>
 <servlet>     
        <servlet-name>SMSReport</servlet-name>    
        <servlet-class>servlet.SMSReport</servlet-class>    
  </servlet>    
 <servlet-mapping>    
        <servlet-name>SMSReport</servlet-name>    
        <url-pattern>/SMSReport</url-pattern>    
 </servlet-mapping>
  <servlet>     
        <servlet-name>SendAgainServlet</servlet-name>    
        <servlet-class>servlet.SendAgainServlet</servlet-class>    
  </servlet>    
 <servlet-mapping>    
        <servlet-name>SendAgainServlet</servlet-name>    
        <url-pattern>/sendAgainServlet</url-pattern>    
 </servlet-mapping> 
 <servlet>     
        <servlet-name>RewriteServlet</servlet-name>    
        <servlet-class>servlet.RewriteServlet</servlet-class>    
  </servlet>    
 <servlet-mapping>    
        <servlet-name>RewriteServlet</servlet-name>    
        <url-pattern>/RewriteServlet</url-pattern>    
 </servlet-mapping> 
</web-app>
